<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Adicionar transação</title>
    <script src="./js/script.js"></script>
    <script src="./js/adicionarTransacao.js"></script>
    <script src="./js/integracaoAPI.js"></script>
    <script src="./js/util.js"></script>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/inicio.css">
    <link rel="stylesheet" href="./css/transacoes.css">
    <link rel="stylesheet" href="./css/adicionarTransacao.css">
    <link rel="stylesheet" href="./css/modalMensagem.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <h2>Adicionar Transação</h2>
        <nav>
            <ul id="menu">
                <li><a href="index.html">Início</a></li>
                <li><a href="transacoes.html" class="active">Transações</a></li>
                <li><a href="cursos.html">Cursos</a></li>
                <li><a href="descontos.html">Descontos</a></li>
                <li><a href="login.html">Sair <i class="fa-solid fa-arrow-right-from-bracket"></i></a></li>
            </ul>
            <a class="mobile active" id="btn_mobile" onclick="abrir()"><i id="i-btn" class="fa-solid fa-bars"></i></a>
        </nav>
    </header>

    <div id="modalMensagem" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p></p>
        </div>
    </div>

    <section class="lists">
        <h1>Preencha os dados da transação</h1>
        <form class="formulario" id="transacaoForm" action="#">
            <label for="nome_transacao">Nome da transação</label>
            <input type="text" name="nomeTransacao" id="nome_transacao">

            <label for="valor_transacao">Valor da transação</label>
            <input type="text" name="valor_transacao" id="valor_transacao" oninput="formatarMoeda(this)">

            <label for="tipo_transacao">Tipo de transação</label>
            <select name="tipoTransacao" id="tipo_transacao">
                <option value="despesa">Despesa</option>
                <option value="receita">Receita</option>
            </select>

            <label for="data_transacao">Data da transação</label>
            <input type="date" name="dataTransacao" id="data_transacao">

            <input type="button" id="salvarTransacaoBtn" class="button" value="Salvar Transação">
        </form>
    </section>
</body>

</html>
