<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Cursos</title>
    <script src="./js/script.js"></script>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/inicio.css">
    <link rel="stylesheet" href="./css/transacoes.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <h2>Cursos</h2>
        <nav>
            <ul id="menu">
                <li><a href="index.html">Início</a></li>
                <li><a href="transacoes.html">Transações</a></li>
                <li><a href="cursos.html" class="active">Cursos</a></li>
                <li><a href="descontos.html">Descontos</a></li>
                <li><a href="login.html">Sair <i class="fa-solid fa-arrow-right-from-bracket"></i></a></li>
            </ul>

            <a class="mobile active" id="btn_mobile" onclick="abrir()"><i id="i-btn" class="fa-solid fa-bars"></i></a>
        </nav>
    </header>

    <section class="lists">
        <h1>Recomendações de Cursos:</h1>
        <ul>
            <li>
                <h4>Curso de Primeiros Socorros</h4>
                <p>Aprenda técnicas de primeiros socorros essenciais para situações de emergência para situações no
                    ambiente de trabalho.</p>
            </li>
            <li>
                <h4>Curso de Prevenção de Acidentes de Trabalho</h4>
                <p>Conheça as melhores práticas para identificar e prevenir acidentes laborais, garantindo um ambiente
                    de trabalho seguro para todos.</p>
            </li>
            <li>
                <h4>Curso de Ergonomia</h4>
                <p>Entenda a importância de ergonomia no ambiente de trabalho e aprenda a aplicar princípios ergonômicos
                    para prevenir lesões e melhorar a produtividade </p>
            </li>
            <li>
                <h4>Curso de Saúde Ocupacional</h4>
                <p>Explore os conceitos fundamentais de saúde ocupacional e descubra como promover o bem-estar dos
                    colaboradores dentro da empresa</p>
            </li>
            <li>
                <h4>Curso de gestão de segurança no trabalho</h4>
                <p>Aprenda estratégias de gestão eficazes para garantir a segurança e a saúde dos trabalhadores,
                    cumprindo as normas regulamentadoras vigentes</p>
            </li>
        </ul>
    </section>
</body>

</html>
