<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Descontos</title>
    <script src="./js/script.js"></script>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/inicio.css">
    <link rel="stylesheet" href="./css/transacoes.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <h2>Descontos</h2>
        <nav>
            <ul id="menu">
                <li><a href="index.html">Início</a></li>
                <li><a href="transacoes.html">Transações</a></li>
                <li><a href="cursos.html">Cursos</a></li>
                <li><a href="descontos.html" class="active">Descontos</a></li>
                <li><a href="login.html">Sair <i class="fa-solid fa-arrow-right-from-bracket"></i></a></li>
            </ul>
            <a class="mobile active" id="btn_mobile" onclick="abrir()"><i id="i-btn" class="fa-solid fa-bars"></i></a>
        </nav>
    </header>

    <section class="lists">
        <h1>Parceiros e Descontos Disponíveis:</h1>
        <ul>
            <li>
                <h4>Supermercado XYZ</h4>
                <p>Desconto de 10% em todas as compras apresentando o cartão de cliente</p>
            </li>
            <li>
                <h4>Clínica Médica ABC</h4>
                <p>Desconto de 20% em consultas agendadas online pelo site da clínica</p>
            </li>
            <li>
                <h4>Loja de Utilidades QRS</h4>
                <p>Desconto de 15% em produtos selecionados para clientes cadastrados</p>
            </li>
        </ul>
    </section>
</body>

</html>
