<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/login.css">
    <script src="./JS/login.js" type="text/javascript"></script>
    <script src="./JS/integracaoAPI.js" type="text/javascript"></script>

    <title>Login</title>
    <style>

    </style>
</head>

<body>
    <div class="login-container">
        <h2>Login</h2>
        <form action="#" class="frm">
            <label for="login">Usuário:</label>
            <input id="login" type="text" required>
            <label for="senha">Senha:</label>
            <input id="senha" type="password" required>
            <input type="button" value="Entrar " onclick="FazerLogin()">
            <input id="btnCriarUsuario" type="button"  value="Criar Usuário " onclick="RedirectCriarUsuario()">

        </form>
    </div>


</body>

</html>
