.formulario{
    width: 50%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.formulario input{
    width: 80%;
    height: 30px;
    padding-left: 10px;
}




@media screen and (max-width: 900px ) {

    header h2{
        font-size: 18px;
    }

    header nav ul li{
       
        margin: 5px;
    }

}



@media screen and (max-width: 650px ) {

    .formulario{
        width: 100%;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

        

    .formulario input{
        width: 100%;
       
        padding-left: 10px;
    }
        

}