body{  
    background-color: #e3e3e3;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.login-container {
    background-color: #fff;
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

   
}

.frm{
    min-height: 200px;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 5px;
    align-items: start;
    color: #707070;
    padding-bottom: 10px;

}

.login-container h2 {
    margin-bottom: 15px;
    text-align: center;
    text-transform: capitalize;
}


.login-container input[type="button"]{
    width: 100%;
    height: 40px;
    padding: 10px;
    border: none;
    background-color: #007BFF;
    color: #fff;
    margin-top: 25px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}



.login-container button:hover{
    background-color: #246bb6;
}

.login-container label {
    margin-top: 10px;
    font-size: 15px;

}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#btnCriarUsuario{
    background-color: rgba(0, 0, 0, 0); 
    color: black;
}





@media screen and (max-width: 500px) {

    body{
        height: 100%;
        display: block;
        background-color: #fff;
    }

        
    .login-container {
        width: 100%;
        height: 100%;
        margin: 0;
        box-shadow: none;
    }

    .frm{
        width: 100%;
        height: auto;
        margin: 0;

    }

    
}