button {
  background-color: #007bff;
  height: 45px;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 10px;
  cursor: pointer;
  max-width: 200px;
  transition: 0.4s;
}

button:hover {
  opacity: 0.7;
}

button a {
  text-decoration: none;
  color: #fff;
}

.transacao {
  color: #007bff !important;
  font-style: italic;
}

.btns{
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  
  margin-top: -30px;
  font-size: 14px;
}

.btns a{
  margin: 10px;
  text-decoration: none;
  color: #707070;
  cursor: pointer;
  border-radius: 3px;
  padding: 7px;
  border: 1px solid #707070;
  transition: background-color .7s;
}


.btns a:hover{
  background-color: #707070;
  color: #fff;
 
}

.btns a:nth-child(2):hover{
  background-color: #a14444;
}

.ID_transacao{
  visibility: hidden;
}



@media screen and (max-width: 900px) {

    
  .btns{
    flex-direction: column;
    align-self: flex-start;
    margin-top: 5px;
    font-size: 14px;
  }

    
  .btns a{
    margin: 5px;
   
  }



}